
.body{
    padding-top: 50px;
    font-family: inherit;
}
h1{
    background-color: #2B2A4C;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    margin-top: 20px;
}
.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0,0,0,0.19)
}

.btn a{
    padding: 8px 10px;
    background-color: #B31312;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

table{
    border-collapse: collapse;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

td{
    padding: 20px;
    border: 2px solid black;
}

.logo img{
    width: 250px;
}

.logo-cgv img{
    width: 200px;
    padding-left: 30px;
}

.theaters{
    text-align: center;
}

.poster img{
    width: 220px;
}

.map-logo img{
    width: 50px;
}
.logo-schedule{
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-name{
    text-align: center;
}

.alert {
    padding: 20px;
    background-color: #1e9a10; 
    color: white;
    margin-bottom: 15px;
  }
  
 
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .back-btn a{
    padding: 8px 10px;
    background-color: #B31312;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}